# View Data

In [16]:
pd.options.display.max_colwidth = 50

In [1]:
import pandas as pd

In [2]:
datos = pd.read_parquet('../data/skills_dataset.parquet')

In [26]:
datos.query('job == "ceo-chief-executive-officer"').set_index('n_skill').drop(['job'], axis=1).head(10)

                                                     skill
n_skill
1        Act as the figurative head of the organization...
2        Lead the development of the organization’s lon...
3        Manage overall operations and make major decis...
4                     Manage the organization’s resources.
5        Negotiate or approve agreements and contracts ...
6                 Manage company organizational structure.
7                 Communicate with the board of directors.
8                Assess and minimize risks to the company.
9                                     Set strategic goals.
10                        Provide company-wide leadership.

In [22]:
datos_onet = pd.read_clipboard()

In [27]:
datos_onet.pivot(index='Element Name', columns='Scale Name', values='Data Value').reset_index().head(10)

Scale Name,Element Name,Importance,Level
0,Analyzing Data or Information,4.38,4.84
1,Assisting and Caring for Others,3.31,3.10
2,Coaching and Developing Others,4.71,5.85
3,Communicating with People Outside the Organiza...,4.55,5.47
4,"Communicating with Supervisors, Peers, or Subo...",4.75,5.82
5,Controlling Machines and Processes,2.04,1.82
6,Coordinating the Work and Activities of Others,4.10,5.60
7,Developing Objectives and Strategies,4.57,5.46
8,Developing and Building Teams,4.63,5.38
9,Documenting/Recording Information,3.60,3.80